.card {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  border: 1px solid $color-card-border;
  background-color: $color-card-bg;

  .pl & {
    max-width: 300px;
  }
}

.card__title {
  @include heading-medium($font-size: 1.424rem);

  flex-grow: 1;

  &-link {
    @include link--heading;
  }
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
  @include link--more;

  align-self: baseline;
}

.card__button {
  @include button;
}

// Variations
.card--alt {
  justify-content: flex-start;

  img {
    margin-bottom: 1.2em;
  }

  .card__image {
    order: 1;
  }

  .card__title {
    order: 2;
  }

  .card__link {
    order: 3;
    margin-bottom: 0;
  }
}

.articles .card {
  .card__image {
    order: 2;
  }

  .card__title {
    order: 1;
  }

  .card__link {
    order: 3;
    margin: 1em 0 0;
  }
}

.recipes .card {
  .card__link {
    order: 4;
    margin: 1em 0 0;
  }
}
