{% set header %}
  <div class="layout layout--header">
    {% include "@organisms/site/site-header/site-header.twig" with {
      header: true,
      preheader: true
    }%}
  </div>
{% endset %}

{% set banner_top %}
  {% include "@molecules/recipe-banner/recipe-banner.twig" %}
{% endset %}

{% set content %}
  {% include "@organisms/card-grid/card-grid.twig" with {
    grid_modifiers: ['one-x-two'],
    grid_blockname: 'card',
    cards: demo.promoted_items,
  }%}

  <div class="is-front">
    <h1 class="h1">Home</h1>
    <h2 class="h2 text-align-center">Explore recipes across every type of occasion, ingredient, and skill level.</h2>
  </div>

  {% include "@organisms/card-grid/card-grid.twig" with {
    grid_modifiers: ['two'],
    grid_blockname: 'card',
    cards: demo.cards,
  }%}
{% endset %}

{% set content_bottom %}
  {% include "@organisms/collection-list/collection-list.twig" %}
{% endset %}

{% set footer %}
  {% include "@molecules/promo/promo.twig" %}
{% endset %}

{% set page = {
  header: header,
  banner_top: banner_top,
  content: content,
  content_bottom: content_bottom,
  footer: footer
}%}

{% include "@pages/_page.twig" with {
  page: page,
  attributes: ['one-column']
}%}
