$breadcrumb-active: #444;

.breadcrumb {
  @include list-reset;

  padding: 1rem 2.37rem 2rem;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $color-link;
}

.breadcrumb__link:hover {
  color: $gray-dark;
}

.breadcrumb__item {
  display: inline-block;
  font-size: 1rem;

  &::before {
    content: ' \BB ';
    color: $breadcrumb-active;
  }

  &:last-child {
    color: $gray-dark;
  }

  &:first-child {
    &::before {
      content: "";
    }
  }
}

.breadcrumb_link:active {
  color: $breadcrumb-active;
}
