<div class="pre-header region--pre-header">
  {% block pre_header_content %}
    {% include "@molecules/search/search.twig" %}
  {% endblock %}
</div>
<div class="header region--header">
  {% block header_content %}
    {% include "@molecules/branding/branding.twig" %}
    {% include "@molecules/menus/main-menu/main-menu.twig" %}
  {% endblock %}
</div>
