// Menu Breakpoint
$main-menu-medium: 43em;

// Nav
.main-nav {
  display: none;

  @include breakpoint($main-menu-medium) {
    display: block;
  }

  &--open {
    display: block;
  }
}

// UL
.main-menu {
  @include list-reset;

  position: relative;
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
  }

  &--open {
    position: fixed;
    top: 134px;
    left: 0;
    right: 0;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    background-color: $white;
  }
}
