// LI
.main-menu__item {
  position: relative;

  @include breakpoint($main-menu-medium) {
    border-top: none;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 2.5em;
    }
  }
}
