#block-umami-pl-main-menu--2 {
  @include breakout;

  @include breakpoint($main-menu-medium) {
    @include breakout($undo: true);
  }
}

// Toggle
.toggle-expand {
  @include link;

  @include breakpoint($main-menu-medium) {
    display: none;
  }

  display: inline-block;
  text-align: right;
  padding: $space;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: transparent;
  }
}

.toggle-expand__text {
  visibility: hidden;

  .toggle-expand--open & {
    color: $white;
  }
}

// SVG icon
.toggle-expand__icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
  float: right;
}

.toggle-expand__open {
  display: inline-block;

  .toggle-expand--open & {
    display: none;
  }
}

.toggle-expand__close {
  display: none;
  text-align: center;

  &::before {
    color: $black;
    content: "X";
    display: block;
    font-size: 2.5rem;
    line-height: 1;
  }

  .toggle-expand--open & {
    display: inline-block;
  }
}
