.card__grid {
  @include margin;
  @include grid;
  @include two-column-grid;

  &--wrapped {
    @include wrapper;
  }

  &--two {
    @include two-column-grid;
  }

  .pl & {
    max-width: $max-width;
    margin: 0 auto;

    .card {
      max-width: 100%;
    }

    &--alt {
      @include large {
        max-width: 50%;
      }
    }
  }
}

.card__grid--one-x-two {
  @include one-by-two-grid;
}

.card--grid-item {
  // @include grid-item(3);
}

.card--divider-3 {
  @include grid-divider(3);
}

.view-promoted-items--single {
  @include rhythm(3);
  @include two-column-grid;
}

.view-promoted-items--double .grid {
  @include two-column-grid;
}

.grid__card--promoted {
  @include one-by-two-grid;
  @include rhythm(1);

  @include large {
    @include rhythm(3);
  }
}
