{% set collection_base_class = 'list' %}
{% set collection_blockname = 'collection' %}

<div class="collection-list__wrapper">
  {% if collection_label %}
  {% include "@atoms/02-text/00-headings/_heading.twig" with {
    "heading_level": 2,
    "heading": collection_label,
    "heading_blockname": collection_blockname,
    "heading_base_class": 'title',
  } %}
  {% endif %}

  <div {{ bem(collection_base_class, ([]), collection_blockname) }}>
    {% for item in collection_list_items %}
      {% include "@atoms/01-links/link/link.twig" with {
        "link_content": item.name,
        "link_url": item.url,
        "link_blockname": card_link_blockname|default('collection'),
        "link_base_class": card_link_base_class|default('link'),
      } %}
    {% endfor %}
  </div>
</div>
