
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Drupal-specific usage -->

  <script src="/core/assets/vendor/domready/ready.min.js"></script>
  <script src="/core/assets/vendor/jquery/jquery.min.js?v=2.2.4"></script>
  <script src="/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
  <script src="/core/misc/drupal.js"></script>
  <script src="/core/misc/drupal.init.js?v=8.5.1"></script>
  <script src="/core/assets/vendor/underscore/underscore-min.js"></script>
  <!-- If using Drupal.behaviors, uncomment for them to work in Pattern Lab -->
  <!-- <script>Drupal.attachBehaviors();</script> -->

  <script src="../../../../dist/scripts-styleguide.js"></script>

  </body>
</html>
