.footer {
  @include wrapper;

  @include large {
    display: flex;
    justify-content: space-between;

    .promo {
      flex-basis: 60%;
    }
  }

  h2 {
    @include heading-medium;

    color: white;
    margin-bottom: 0.5em;
  }

  nav {
    @include padding-trailer(1);

    text-align: center;

    @include large {
      text-align: left;
    }
  }

  .menu {
    padding: 0;

    .menu__link {
      color: white;
    }
  }
}

.layout--bottom {
  padding: $space;
  background: white;
  text-align: center;

  @include large {
    text-align: left;
  }
}
