$white: white;
$near-white: #fafafa;
$black: black;
$gray-dark: #444;
$gray-darkest: #464646;
$dark-cyan: #00836d;
$darker-cyan: #057d6d;
$light-grayish-green: #e6eee0;
$light-grayish-orange: #fbf5ee;
$light-grayish-yellow: #f4f2e9;
