$color-bg-body: $light-grayish-orange;
$color-border: $dark-cyan;
$color-link: $dark-cyan;
$color-link--hover: $gray-dark;
$color-link-bg--hover: $light-grayish-green;

$color-button: $dark-cyan;
$color-button--hover: $light-grayish-green;
$color-text: $gray-dark;

$color-header-bg: $white;
$color-footer-bg: $white;
