$color-bg-body: $seashell;
$color-link: $pine-green;
$color-link--hover: $gray-dark;
$color-link--hover-bg: $platinum;
$color-button: $cerise;
$color-button--hover: $portland-orange;
$color-text: $outer-space;
$color-heading: $black;
$color-border: $platinum;
$color-card-bg: $white;
$color-card-border: $linen;
