// Emulsify
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #767775;
$gray-dark: #444;
$gray-darker: #333;
$black: black;

$portland-orange: #ff6138;
$candy: #cc2a00;
$cerise: #d93760;
$baby-pink: #eec2cb;
$pine-green: #00836d;
$dark-sea-green: #79bd8f;
$pearl-aqua: #95cbc2;
$seashell: #fbf5ee;
$dim-gray: #5f635d;
$old-lavender: #767775;
$outer-space: #464646;
$black: #000;
$platinum: #e6eee0;
$isabelline: #f4f2e9;
$linen: #fcece7;
