$color-bg-body: $seashell;
$color-link: $pine-green;
$color-link--hover: $gray-dark;
$color-link--hover-bg: $platinum;
$color-button: $cerise;
$color-button--hover: $portland-orange;
$color-text: $outer-space;
$color-heading: $black;
$color-border: $platinum;
$color-card-bg: $white;
$color-card-border: $linen;
$color-nav: $black;
$color-nav--inline: $outer-space;

$color-layout--content-bottom: $gray;
$color-layout--footer: $dim-gray;
$color-recipe-collection-bg: $color-layout--content-bottom;
$color-ingredient-list-bg: $seashell;
