/// Link
@mixin link {
  color: $color-link;

  &:hover {
    color: $color-link--hover;
    background-color: $color-link--hover-bg;

    h2 & {
      background-color: transparent;
    }
  }
}

@mixin link--heading {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin link--more {
  background-color: inherit;
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1em;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    content: '';
    background-image: url('../images/svg/pointer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

a,
.link {
  @include link;
}
