article {
  @include trailer(2);

  padding: 2.37rem;

  .grid & {
    padding: 1rem;

    h2 {
      @include heading-medium;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          background: none;
        }
      }
    }
  }

  footer {
    display: none;
  }

  .layout--sidebar & {
    @include trailer(1);
  }
}
