article {
  @include trailer(2);

  padding: 2.37rem;

  .grid & {
    padding: 1rem;

    h2 {
      @include heading-medium;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          background: none;
        }
      }
    }
  }

  footer {
    display: none;

    .layout--content & {
      display: block;
    }

    .by-author::after {
      display: inline-block;
      margin: 0 0.25ex;
      content: "•";
      vertical-align: middle;
      color: #7cbe8c;
      font-size: 2em;
    }
  }

  .layout--sidebar & {
    @include trailer(1);
  }
}
