.ingredient-list {
  margin-top: 1.184rem;
  margin-bottom: 1.184rem;
  padding: 1.266rem;
  background-color: $color-ingredient-list-bg;

  .field__label {
    @include heading-large;
    @include heading-underlined;
  }

  .field__items {
    @include medium {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  .field__item {
    margin: 0 0 0.6em;
    padding: 0 0 0.6em;
    border-bottom: 1px solid #eec2cb;
    break-inside: avoid-column;
  }
}
